<!-- by Miroslav -->
<section class="about-section">
  <div class="container">
    <ul class="about-me-head-list">
      <li class="about-me-head-item">
        <p class="about-me-p">
          I work with people all over the world to create impressive and
          <span class="functional-word">functional </span
          ><span class="websites-word">websites</span> that reflect each
          client's unique personality.
        </p>
      </li>
      <li class="about-me-head-item">
        <picture>
          <source
            srcset="
              ./img/desktop/hero_image.jpg    1x,
              ./img/desktop/hero_image@2x.jpg 2x
            "
            media="(min-width:1440px)"
          />
          <source
            srcset="
              ./img/tablet/hero_image.jpg    1x,
              ./img/tablet/hero_image@2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./img/mobile/hero_image.jpg    1x,
              ./img/mobile/hero_image@2x.jpg 2x
            "
            media="(min-width:320px)"
          />
          <img
            src="./img/mobile/hero_image.jpg"
            width="450"
            height="460"
            class="about-me-head-img"
          />
        </picture>
      </li>
    </ul>
    <ul class="about-me-list">
      <li class="about-me">
        <div class="header-button-container">
          <p class="header">about me</p>
          <button class="hide-text-btn">
            <svg width="20" height="20" class="arrow">
              <use
                class="arrow-icon"
                href="../img/svg/sprite.svg#icon-arrow-bot"
              ></use>
            </svg>
          </button>
        </div>
        <p class="text">
          I am Lloyd Jefferson, a talented programmer with extensive expertise
          in software development. I have an understanding of different
          programming languages ​and technologies, always ready to improve my
          skills. I always follow the latest trends and look for unconventional,
          creative solutions to problems. I have a high level of analytical
          skills and am able to effectively solve even the most difficult tasks
          encountered on the way. Able to work both independently and in a team.
          I can effectively cooperate with colleagues, exchanging ideas and
          finding optimal solutions. Professional maturity allows you to calmly
          cope with challenges and stressful situations, while maintaining a
          high quality of work. I am always looking for opportunities for
          self-improvement. I actively study new technologies and practices to
          stay abreast of the latest innovations. I have a strong understanding
          of various programming languages, frameworks and architectural
          concepts that allow me to create efficient and scalable software.
        </p>
      </li>
      <li class="role">
        <div class="header-button-container">
          <p class="header">role</p>
          <button class="hide-text-btn">
            <svg width="20" height="20" class="arrow">
              <use href="../img/svg/sprite.svg#icon-arrow-bot"></use>
            </svg>
          </button>
        </div>

        <ul class="role-list text">
          <li class="role">Frontend development</li>
          <li class="role">HeadlessCMS,Wordpress</li>
          <li class="role">Blender(enjoy)</li>
        </ul>
      </li>
      <li class="education">
        <div class="header-button-container">
          <p class="header">education</p>
          <button class="hide-text-btn">
            <svg width="20" height="20" class="arrow">
              <use href="../img/svg/sprite.svg#icon-arrow-bot"></use>
            </svg>
          </button>
        </div>

        <ul class="education text">
          <li class="education-item text">
            2018 - 2019 / Frontend Development Diploma, GoIT IT School, New York
          </li>
          <li class="education-item text">
            2019 - 2020 / Advanced Web Development Certificate, GoIT IT School,
            New York
          </li>
          <li class="education-item text">
            2020 - 2022 / Advanced Blender Animation Techniques, Udemy
          </li>
        </ul>
      </li>
    </ul>
    <div class="tech-arrow-container">
      <ul class="tech-stack">
        <li><button class="tech-button">HTML/CSS</button></li>
        <li><button class="tech-button">JavaScript</button></li>
        <li><button class="tech-button">React</button></li>
        <li><button class="tech-button">Node.js</button></li>
        <li><button class="tech-button">React Native</button></li>
        <li><button class="tech-button">Soft skills</button></li>
      </ul>
      <button class="arrow-narrow-right">
        <svg width="20" height="20" class="arrow-tech">
          <use href="../img/svg/sprite.svg#icon-arrow-narrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
