<!-- by Maria -->
<div class="benefits-container">
    <h3 class="benefits-headline">BENEFITS OF WORKING WITH ME</h3>
    <ul class="list benefits-list">
      <li class="benefits-item">
        <!-- <img
            class="benefits-picture"
        /> -->
        <h4 class="benefits-title">Expertise</h4>
        <p class="benefits-txt">
          As a highly experienced developer, I have deep knowledge of programming and website development.
        </p>
      </li>
      <li class="benefits-item">
        <!-- <img
          class="benefits-picture"
        /> -->
        <h4 class="benefits-title">Communication</h4>
        <p class="benefits-txt">
           Understanding your needs and wants is my priority and I am always open to discussions and corrections.
        </p>
      </li>
      <li class="benefits-item">
        <!-- <img
          class="benefits-picture"
        /> -->
        <h4 class="benefits-title">Art</h4>
        <p class="benefits-txt">
          Thanks to my creative nature, I am ready to accept challenges and help you bring your ideas to life. 
        </p>
      </li>
       <li class="benefits-item">
        <!-- <img
          class="benefits-picture"
        /> -->
        <h4 class="benefits-title">Urgent execution</h4>
        <p class="benefits-txt">
          I understand how important time is to you. Ready to work quickly and efficiently, without reducing the quality of work. 
        </p>
      </li>
    </ul>
    <button class="benefits-btn button"
          type="submit">
          Order the project
        </button>
  </div>