<!-- by Maria -->
<section class="section benefits">
  <div class="container benefits-container">
    <h3 class="benefits-headline">BENEFITS OF WORKING WITH ME</h3>
    <div>
      <ul class="list benefits-list">
        <li class="benefits-item">
          <svg width="48" height="48" class="icon-benefits">
            <use href="./img/svg/sprite.svg#icon-user-01"></use>
          </svg>

          <h4 class="benefits-title">Expertise</h4>
          <p class="benefits-txt">
            As a highly experienced developer, I have deep knowledge of
            programming and website development.
          </p>
        </li>
        <li class="benefits-item">
          <svg width="48" height="48" class="icon-benefits">
            <use href="./img/svg/sprite.svg#icon-message-chat-circle"></use>
          </svg>
          <h4 class="benefits-title">Communication</h4>
          <p class="benefits-txt">
            Understanding your needs and wants is my priority and I am always
            open to discussions and corrections.
          </p>
        </li>
        <li class="benefits-item">
          <svg width="48" height="48" class="icon-benefits">
            <use href="./img/svg/sprite.svg#icon-art"></use>
          </svg>
          <h4 class="benefits-title">Art</h4>
          <p class="benefits-txt">
            Thanks to my creative nature, I am ready to accept challenges and
            help you bring your ideas to life.
          </p>
        </li>
        <li class="benefits-item">
          <svg width="48" height="48" class="icon-benefits">
            <use href="./img/svg/sprite.svg#icon-sand-clock"></use>
          </svg>
          <h4 class="benefits-title">Urgent execution</h4>
          <p class="benefits-txt">
            I understand how important time is to you. Ready to work quickly and
            efficiently, without reducing the quality of work.
          </p>
        </li>
      </ul>
      <a href="#work-together" class="button benefits-btn" type="submit"
        >Order the project</a
      >
    </div>
  </div>
</section>
