<!-- by Iryna -->


    <section class="section-cover">
    
            <h1 class="cover-title is-hidden">COVER</h1>
      <div class="cover-container">
        <ul class="cover-list">
            <li class="cover-line"> 
              <picture class="cover-picture">
                <source
                 media="(min-width: 1440px)"
                  srcset="
                    ./img/desktop/Rectangle_4.jpg 1x,
                    ./img/desktop/Rectangle_4@2x.jpg  2x
                  "
                  type="image/jpg"
                />                
                <img class="cover-img"
                  src="./img/desktop/Rectangle_4@2x.jpg"
                  alt=""
                  width="544"
                  height="314"
                />
              </picture>
              
              <picture class="cover-picture">
                <source

                  media="(min-width: 1440px)"
                  srcset="
                    ./img/desktop/Rectangle_5.jpg 1x,
                    ./img/desktop/Rectangle_5@2x.jpg  2x
                  "
                  type="image/jpg"
                />                
                <img class="cover-img"
                  src="./img/desktop/Rectangle_5@2x.jpg"
                  alt=""
                  width="544"
                  height="314"
                />
              </picture>
            
              <picture class="cover-picture">
                <source

                  media="(min-width: 1440px)"
                  srcset="
                    ./img/desktop/Rectangle_6.jpg 1x,
                    ./img/desktop/Rectangle_6@2x.jpg  2x
                  "
                  type="image/jpg"
                />                
                <img class="cover-img"
                  src="./img/desktop/Rectangle_6@2x.jpg"
                  alt=""
                  width="544"
                  height="314"
                />
              </picture>
             
              <picture class="cover-picture">
                <source

                  media="(min-width: 1440px)"
                  srcset="
                    ./img/desktop/Rectangle_7.jpg 1x,
                    ./img/desktop/Rectangle_7@2x.jpg  2x
                  "
                  type="image/jpg"
                />                
                <img class="cover-img"
                  src="./img/desktop/Rectangle_7@2x.jpg"
                  alt=""
                  width="544"
                  height="314"
                />
              </picture>
           
              <picture class="cover-picture">
                <source

                  media="(min-width: 1440px)"
                  srcset="
                    ./img/desktop/Rectangle_8.jpg 1x,
                    ./img/desktop/Rectangle_8@2x.jpg  2x
                  "
                  type="image/jpg"
                />                
                <img class="cover-img"
                  src="./img/desktop/Rectangle_8@2x.jpg"
                  alt=""
                  width="544"
                  height="314"
                />
              </picture>
            
              <picture class="cover-picture">
                <source

                  media="(min-width: 1440px)"
                  srcset="
                    ./img/desktop/Rectangle_9.jpg 1x,
                    ./img/desktop/Rectangle_9@2x.jpg  2x
                  "
                  type="image/jpg"
                />                
                <img class="cover-img"
                  src="./img/desktop/Rectangle_9@2x.jpg"
                  alt=""
                  width="544"
                  height="314"
                />
              </picture>
            
              <picture class="cover-picture">
                <source

                  media="(min-width: 1440px)"
                  srcset="
                    ./img/desktop/Rectangle_10.jpg 1x,
                    ./img/desktop/Rectangle_10@2x.jpg  2x
                  "
                  type="image/jpg"
                />                
                <img class="cover-img"
                  src="./img/desktop/Rectangle_10@2x.jpg"
                  alt=""
                  width="544"
                  height="314"
                />
              </picture>
            
              <picture class="cover-picture">
                <source

                  media="(min-width: 1440px)"
                  srcset="
                    ./img/desktop/Rectangle_11.jpg 1x,
                    ./img/desktop/Rectangle_11@2x.jpg  2x
                  "
                  type="image/jpg"
                />                
                <img class="cover-img"
                  src="./img/desktop/Rectangle_11@2x.jpg"
                  alt=""
                  width="544"
                  height="314"
                />
              </picture>
           
              <picture class="cover-picture">
                <source

                  media="(min-width: 1440px)"
                  srcset="
                    ./img/desktop/Rectangle_12.jpg 1x,
                    ./img/desktop/Rectangle_12@2x.jpg  2x
                  "
                  type="image/jpg"
                />                
                <img class="cover-img"
                  src="./img/desktop/Rectangle_12@2x.jpg"
                  alt=""
                  width="544"
                  height="314"
                />
              </picture>
            </li>

            <li class="cover-line"> 
              <picture class="cover-picture">
                <source
                 media="(min-width: 1440px)"
                  srcset="
                    ./img/desktop/Rectangle_4.jpg 1x,
                    ./img/desktop/Rectangle_4@2x.jpg  2x
                  "
                  type="image/jpg"
                />                
                <img class="cover-img"
                  src="./img/desktop/Rectangle_4@2x.jpg"
                  alt=""
                  width="544"
                  height="314"
                />
              </picture>
              
              <picture class="cover-picture">
                <source

                  media="(min-width: 1440px)"
                  srcset="
                    ./img/desktop/Rectangle_5.jpg 1x,
                    ./img/desktop/Rectangle_5@2x.jpg  2x
                  "
                  type="image/jpg"
                />                
                <img class="cover-img"
                  src="./img/desktop/Rectangle_5@2x.jpg"
                  alt=""
                  width="544"
                  height="314"
                />
              </picture>
            
              <picture class="cover-picture">
                <source

                  media="(min-width: 1440px)"
                  srcset="
                    ./img/desktop/Rectangle_6.jpg 1x,
                    ./img/desktop/Rectangle_6@2x.jpg  2x
                  "
                  type="image/jpg"
                />                
                <img class="cover-img"
                  src="./img/desktop/Rectangle_6@2x.jpg"
                  alt=""
                  width="544"
                  height="314"
                />
              </picture>
             
              <picture class="cover-picture">
                <source

                  media="(min-width: 1440px)"
                  srcset="
                    ./img/desktop/Rectangle_7.jpg 1x,
                    ./img/desktop/Rectangle_7@2x.jpg  2x
                  "
                  type="image/jpg"
                />                
                <img class="cover-img"
                  src="./img/desktop/Rectangle_7@2x.jpg"
                  alt=""
                  width="544"
                  height="314"
                />
              </picture>
           
              <picture class="cover-picture">
                <source

                  media="(min-width: 1440px)"
                  srcset="
                    ./img/desktop/Rectangle_8.jpg 1x,
                    ./img/desktop/Rectangle_8@2x.jpg  2x
                  "
                  type="image/jpg"
                />                
                <img class="cover-img"
                  src="./img/desktop/Rectangle_8@2x.jpg"
                  alt=""
                  width="544"
                  height="314"
                />
              </picture>
            
              <picture class="cover-picture">
                <source

                  media="(min-width: 1440px)"
                  srcset="
                    ./img/desktop/Rectangle_9.jpg 1x,
                    ./img/desktop/Rectangle_9@2x.jpg  2x
                  "
                  type="image/jpg"
                />                
                <img class="cover-img"
                  src="./img/desktop/Rectangle_9@2x.jpg"
                  alt=""
                  width="544"
                  height="314"
                />
              </picture>
            
              <picture class="cover-picture">
                <source

                  media="(min-width: 1440px)"
                  srcset="
                    ./img/desktop/Rectangle_10.jpg 1x,
                    ./img/desktop/Rectangle_10@2x.jpg  2x
                  "
                  type="image/jpg"
                />                
                <img class="cover-img"
                  src="./img/desktop/Rectangle_10@2x.jpg"
                  alt=""
                  width="544"
                  height="314"
                />
              </picture>
            
              <picture class="cover-picture">
                <source

                  media="(min-width: 1440px)"
                  srcset="
                    ./img/desktop/Rectangle_11.jpg 1x,
                    ./img/desktop/Rectangle_11@2x.jpg  2x
                  "
                  type="image/jpg"
                />                
                <img class="cover-img"
                  src="./img/desktop/Rectangle_11@2x.jpg"
                  alt=""
                  width="544"
                  height="314"
                />
              </picture>
           
              <picture class="cover-picture">
                <source

                  media="(min-width: 1440px)"
                  srcset="
                    ./img/desktop/Rectangle_12.jpg 1x,
                    ./img/desktop/Rectangle_12@2x.jpg  2x
                  "
                  type="image/jpg"
                />                
                <img class="cover-img"
                  src="./img/desktop/Rectangle_12@2x.jpg"
                  alt=""
                  width="544"
                  height="314"
                />
              </picture>
            </li>

            <li class="cover-line"> 
              <picture class="cover-picture">
                <source
                 media="(min-width: 1440px)"
                  srcset="
                    ./img/desktop/Rectangle_4.jpg 1x,
                    ./img/desktop/Rectangle_4@2x.jpg  2x
                  "
                  type="image/jpg"
                />                
                <img class="cover-img"
                  src="./img/desktop/Rectangle_4@2x.jpg"
                  alt=""
                  width="544"
                  height="314"
                />
              </picture>
              
              <picture class="cover-picture">
                <source

                  media="(min-width: 1440px)"
                  srcset="
                    ./img/desktop/Rectangle_5.jpg 1x,
                    ./img/desktop/Rectangle_5@2x.jpg  2x
                  "
                  type="image/jpg"
                />                
                <img class="cover-img"
                  src="./img/desktop/Rectangle_5@2x.jpg"
                  alt=""
                  width="544"
                  height="314"
                />
              </picture>
            
              <picture class="cover-picture">
                <source

                  media="(min-width: 1440px)"
                  srcset="
                    ./img/desktop/Rectangle_6.jpg 1x,
                    ./img/desktop/Rectangle_6@2x.jpg  2x
                  "
                  type="image/jpg"
                />                
                <img class="cover-img"
                  src="./img/desktop/Rectangle_6@2x.jpg"
                  alt=""
                  width="544"
                  height="314"
                />
              </picture>
             
              <picture class="cover-picture">
                <source

                  media="(min-width: 1440px)"
                  srcset="
                    ./img/desktop/Rectangle_7.jpg 1x,
                    ./img/desktop/Rectangle_7@2x.jpg  2x
                  "
                  type="image/jpg"
                />                
                <img class="cover-img"
                  src="./img/desktop/Rectangle_7@2x.jpg"
                  alt=""
                  width="544"
                  height="314"
                />
              </picture>
           
              <picture class="cover-picture">
                <source

                  media="(min-width: 1440px)"
                  srcset="
                    ./img/desktop/Rectangle_8.jpg 1x,
                    ./img/desktop/Rectangle_8@2x.jpg  2x
                  "
                  type="image/jpg"
                />                
                <img class="cover-img"
                  src="./img/desktop/Rectangle_8@2x.jpg"
                  alt=""
                  width="544"
                  height="314"
                />
              </picture>
            
              <picture class="cover-picture">
                <source

                  media="(min-width: 1440px)"
                  srcset="
                    ./img/desktop/Rectangle_9.jpg 1x,
                    ./img/desktop/Rectangle_9@2x.jpg  2x
                  "
                  type="image/jpg"
                />                
                <img class="cover-img"
                  src="./img/desktop/Rectangle_9@2x.jpg"
                  alt=""
                  width="544"
                  height="314"
                />
              </picture>
            
              <picture class="cover-picture">
                <source

                  media="(min-width: 1440px)"
                  srcset="
                    ./img/desktop/Rectangle_10.jpg 1x,
                    ./img/desktop/Rectangle_10@2x.jpg  2x
                  "
                  type="image/jpg"
                />                
                <img class="cover-img"
                  src="./img/desktop/Rectangle_10@2x.jpg"
                  alt=""
                  width="544"
                  height="314"
                />
              </picture>
            
              <picture class="cover-picture">
                <source

                  media="(min-width: 1440px)"
                  srcset="
                    ./img/desktop/Rectangle_11.jpg 1x,
                    ./img/desktop/Rectangle_11@2x.jpg  2x
                  "
                  type="image/jpg"
                />                
                <img class="cover-img"
                  src="./img/desktop/Rectangle_11@2x.jpg"
                  alt=""
                  width="544"
                  height="314"
                />
              </picture>
           
              <picture class="cover-picture">
                <source

                  media="(min-width: 1440px)"
                  srcset="
                    ./img/desktop/Rectangle_12.jpg 1x,
                    ./img/desktop/Rectangle_12@2x.jpg  2x
                  "
                  type="image/jpg"
                />                
                <img class="cover-img"
                  src="./img/desktop/Rectangle_12@2x.jpg"
                  alt=""
                  width="544"
                  height="314"
                />
              </picture>
            </li>

            <li class="cover-line"> 
              <picture class="cover-picture">
                <source
                 media="(min-width: 1440px)"
                  srcset="
                    ./img/desktop/Rectangle_4.jpg 1x,
                    ./img/desktop/Rectangle_4@2x.jpg  2x
                  "
                  type="image/jpg"
                />                
                <img class="cover-img"
                  src="./img/desktop/Rectangle_4@2x.jpg"
                  alt=""
                  width="544"
                  height="314"
                />
              </picture>
              
              <picture class="cover-picture">
                <source

                  media="(min-width: 1440px)"
                  srcset="
                    ./img/desktop/Rectangle_5.jpg 1x,
                    ./img/desktop/Rectangle_5@2x.jpg  2x
                  "
                  type="image/jpg"
                />                
                <img class="cover-img"
                  src="./img/desktop/Rectangle_5@2x.jpg"
                  alt=""
                  width="544"
                  height="314"
                />
              </picture>
            
              <picture class="cover-picture">
                <source

                  media="(min-width: 1440px)"
                  srcset="
                    ./img/desktop/Rectangle_6.jpg 1x,
                    ./img/desktop/Rectangle_6@2x.jpg  2x
                  "
                  type="image/jpg"
                />                
                <img class="cover-img"
                  src="./img/desktop/Rectangle_6@2x.jpg"
                  alt=""
                  width="544"
                  height="314"
                />
              </picture>
             
              <picture class="cover-picture">
                <source

                  media="(min-width: 1440px)"
                  srcset="
                    ./img/desktop/Rectangle_7.jpg 1x,
                    ./img/desktop/Rectangle_7@2x.jpg  2x
                  "
                  type="image/jpg"
                />                
                <img class="cover-img"
                  src="./img/desktop/Rectangle_7@2x.jpg"
                  alt=""
                  width="544"
                  height="314"
                />
              </picture>
           
              <picture class="cover-picture">
                <source

                  media="(min-width: 1440px)"
                  srcset="
                    ./img/desktop/Rectangle_8.jpg 1x,
                    ./img/desktop/Rectangle_8@2x.jpg  2x
                  "
                  type="image/jpg"
                />                
                <img class="cover-img"
                  src="./img/desktop/Rectangle_8@2x.jpg"
                  alt=""
                  width="544"
                  height="314"
                />
              </picture>
            
              <picture class="cover-picture">
                <source

                  media="(min-width: 1440px)"
                  srcset="
                    ./img/desktop/Rectangle_9.jpg 1x,
                    ./img/desktop/Rectangle_9@2x.jpg  2x
                  "
                  type="image/jpg"
                />                
                <img class="cover-img"
                  src="./img/desktop/Rectangle_9@2x.jpg"
                  alt=""
                  width="544"
                  height="314"
                />
              </picture>
            
              <picture class="cover-picture">
                <source

                  media="(min-width: 1440px)"
                  srcset="
                    ./img/desktop/Rectangle_10.jpg 1x,
                    ./img/desktop/Rectangle_10@2x.jpg  2x
                  "
                  type="image/jpg"
                />                
                <img class="cover-img"
                  src="./img/desktop/Rectangle_10@2x.jpg"
                  alt=""
                  width="544"
                  height="314"
                />
              </picture>
            
              <picture class="cover-picture">
                <source

                  media="(min-width: 1440px)"
                  srcset="
                    ./img/desktop/Rectangle_11.jpg 1x,
                    ./img/desktop/Rectangle_11@2x.jpg  2x
                  "
                  type="image/jpg"
                />                
                <img class="cover-img"
                  src="./img/desktop/Rectangle_11@2x.jpg"
                  alt=""
                  width="544"
                  height="314"
                />
              </picture>
           
              <picture class="cover-picture">
                <source

                  media="(min-width: 1440px)"
                  srcset="
                    ./img/desktop/Rectangle_12.jpg 1x,
                    ./img/desktop/Rectangle_12@2x.jpg  2x
                  "
                  type="image/jpg"
                />                
                <img class="cover-img"
                  src="./img/desktop/Rectangle_12@2x.jpg"
                  alt=""
                  width="544"
                  height="314"
                />
              </picture>
            </li>

            <li class="cover-line"> 
              <picture class="cover-picture">
                <source
                 media="(min-width: 1440px)"
                  srcset="
                    ./img/desktop/Rectangle_4.jpg 1x,
                    ./img/desktop/Rectangle_4@2x.jpg  2x
                  "
                  type="image/jpg"
                />                
                <img class="cover-img"
                  src="./img/desktop/Rectangle_4@2x.jpg"
                  alt=""
                  width="544"
                  height="314"
                />
              </picture>
              
              <picture class="cover-picture">
                <source

                  media="(min-width: 1440px)"
                  srcset="
                    ./img/desktop/Rectangle_5.jpg 1x,
                    ./img/desktop/Rectangle_5@2x.jpg  2x
                  "
                  type="image/jpg"
                />                
                <img class="cover-img"
                  src="./img/desktop/Rectangle_5@2x.jpg"
                  alt=""
                  width="544"
                  height="314"
                />
              </picture>
            
              <picture class="cover-picture">
                <source

                  media="(min-width: 1440px)"
                  srcset="
                    ./img/desktop/Rectangle_6.jpg 1x,
                    ./img/desktop/Rectangle_6@2x.jpg  2x
                  "
                  type="image/jpg"
                />                
                <img class="cover-img"
                  src="./img/desktop/Rectangle_6@2x.jpg"
                  alt=""
                  width="544"
                  height="314"
                />
              </picture>
             
              <picture class="cover-picture">
                <source

                  media="(min-width: 1440px)"
                  srcset="
                    ./img/desktop/Rectangle_7.jpg 1x,
                    ./img/desktop/Rectangle_7@2x.jpg  2x
                  "
                  type="image/jpg"
                />                
                <img class="cover-img"
                  src="./img/desktop/Rectangle_7@2x.jpg"
                  alt=""
                  width="544"
                  height="314"
                />
              </picture>
           
              <picture class="cover-picture">
                <source

                  media="(min-width: 1440px)"
                  srcset="
                    ./img/desktop/Rectangle_8.jpg 1x,
                    ./img/desktop/Rectangle_8@2x.jpg  2x
                  "
                  type="image/jpg"
                />                
                <img class="cover-img"
                  src="./img/desktop/Rectangle_8@2x.jpg"
                  alt=""
                  width="544"
                  height="314"
                />
              </picture>
            
              <picture class="cover-picture">
                <source

                  media="(min-width: 1440px)"
                  srcset="
                    ./img/desktop/Rectangle_9.jpg 1x,
                    ./img/desktop/Rectangle_9@2x.jpg  2x
                  "
                  type="image/jpg"
                />                
                <img class="cover-img"
                  src="./img/desktop/Rectangle_9@2x.jpg"
                  alt=""
                  width="544"
                  height="314"
                />
              </picture>
            
              <picture class="cover-picture">
                <source

                  media="(min-width: 1440px)"
                  srcset="
                    ./img/desktop/Rectangle_10.jpg 1x,
                    ./img/desktop/Rectangle_10@2x.jpg  2x
                  "
                  type="image/jpg"
                />                
                <img class="cover-img"
                  src="./img/desktop/Rectangle_10@2x.jpg"
                  alt=""
                  width="544"
                  height="314"
                />
              </picture>
            
              <picture class="cover-picture">
                <source

                  media="(min-width: 1440px)"
                  srcset="
                    ./img/desktop/Rectangle_11.jpg 1x,
                    ./img/desktop/Rectangle_11@2x.jpg  2x
                  "
                  type="image/jpg"
                />                
                <img class="cover-img"
                  src="./img/desktop/Rectangle_11@2x.jpg"
                  alt=""
                  width="544"
                  height="314"
                />
              </picture>
           
              <picture class="cover-picture">
                <source

                  media="(min-width: 1440px)"
                  srcset="
                    ./img/desktop/Rectangle_12.jpg 1x,
                    ./img/desktop/Rectangle_12@2x.jpg  2x
                  "
                  type="image/jpg"
                />                
                <img class="cover-img"
                  src="./img/desktop/Rectangle_12@2x.jpg"
                  alt=""
                  width="544"
                  height="314"
                />
              </picture>
            </li>
        </ul>



    </section>
 