<!-- by Iryna -->

<section class="section-cover section" id="covers">
  <h1 class="cover-title is-hidden">COVER</h1>

  <div class="cover-container">
    <ul class="cover-list">
      <!-- String 1 -->
      <li class="cover-line">
        <!-- Picture 9-->
        <picture class="cover-picture">
          <!-- Mobile-->
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/desktop/Rectangle_9.jpg    1x,
              ./img/desktop/Rectangle_9@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!--Tablet-->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/desktop/Rectangle_9.jpg    1x,
              ./img/desktop/Rectangle_9@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!--Desktop-->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/desktop/Rectangle_9.jpg    1x,
              ./img/desktop/Rectangle_9@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="cover-img"
            src="./img/desktop/Rectangle_9@2x.jpg"
            alt="Organic vegetables to your diet today"
            width="282"
            height="162"
          />
        </picture>
        <!-- Picture 4-->
        <picture class="cover-picture">
          <!-- Mobile-->
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/desktop/Rectangle_4.jpg    1x,
              ./img/desktop/Rectangle_4@2x.jpg 2x
            "
            type="image/jpg"
          />

          <!--Tablet-->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/desktop/Rectangle_4.jpg    1x,
              ./img/desktop/Rectangle_4@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!--Desktop-->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/desktop/Rectangle_4.jpg    1x,
              ./img/desktop/Rectangle_4@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="cover-img"
            src="./img/desktop/Rectangle_4@2x.jpg"
            alt="Get body in shape"
            width="282"
            height="162"
          />
        </picture>
        <!-- Picture 5-->
        <picture class="cover-picture">
          <!-- Mobile-->
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/desktop/Rectangle_5.jpg    1x,
              ./img/desktop/Rectangle_5@2x.jpg 2x
            "
            type="image/jpg"
          />

          <!--Tablet-->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/desktop/Rectangle_5.jpg    1x,
              ./img/desktop/Rectangle_5@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- Desktop-->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/desktop/Rectangle_5.jpg    1x,
              ./img/desktop/Rectangle_5@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="cover-img"
            src="./img/desktop/Rectangle_5@2x.jpg"
            alt="Fresh harvest box"
            width="282"
            height="162"
          />
        </picture>
        <!-- Picture 6-->
        <picture class="cover-picture">
          <!-- Mobile-->
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/desktop/Rectangle_6.jpg    1x,
              ./img/desktop/Rectangle_6@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!--Tablet-->
          <source
            media="(min-width: 767px)"
            srcset="
              ./img/desktop/Rectangle_6.jpg    1x,
              ./img/desktop/Rectangle_6@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!--Desktop-->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/desktop/Rectangle_6.jpg    1x,
              ./img/desktop/Rectangle_6@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="cover-img"
            src="./img/desktop/Rectangle_6@2x.jpg"
            alt="a brand that is inspired in forms"
            width="282"
            height="162"
          />
        </picture>
        <!-- Picture 7-->
        <picture class="cover-picture">
          <!-- Mobile-->
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/desktop/Rectangle_7.jpg    1x,
              ./img/desktop/Rectangle_7@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!--Tablet-->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/desktop/Rectangle_7.jpg    1x,
              ./img/desktop/Rectangle_7@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!--Desktop-->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/desktop/Rectangle_7.jpg    1x,
              ./img/desktop/Rectangle_7@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="cover-img"
            src="./img/desktop/Rectangle_7@2x.jpg"
            alt="Mimino"
            width="282"
            height="162"
          />
        </picture>
        <!-- Picture 8-->
        <picture class="cover-picture">
          <!-- Mobile-->
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/desktop/Rectangle_8.jpg    1x,
              ./img/desktop/Rectangle_8@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!--Tablet-->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/desktop/Rectangle_8.jpg    1x,
              ./img/desktop/Rectangle_8@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!--Desktop-->
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/desktop/Rectangle_8.jpg    1x,
              ./img/desktop/Rectangle_8@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="cover-img"
            src="./img/desktop/Rectangle_8@2x.jpg"
            alt="Reviving the traditional Ukrainian artistry in every stitch"
            width="282"
            height="162"
          />
        </picture>

        <!-- Picture 10-->
        <picture class="cover-picture">
          <!-- Mobile-->
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/desktop/Rectangle_10.jpg    1x,
              ./img/desktop/Rectangle_10@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!--Tablet-->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/desktop/Rectangle_10.jpg    1x,
              ./img/desktop/Rectangle_10@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!--Desktop-->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/desktop/Rectangle_10.jpg    1x,
              ./img/desktop/Rectangle_10@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="cover-img"
            src="./img/desktop/Rectangle_10@2x.jpg"
            alt="Transforming your body shape with Power Pulse"
            width="282"
            height="162"
          />
        </picture>
        <!-- Picture 11-->
        <picture class="cover-picture">
          <!-- Mobile-->
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/desktop/Rectangle_11.jpg    1x,
              ./img/desktop/Rectangle_11@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!--Tablet-->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/desktop/Rectangle_11.jpg    1x,
              ./img/desktop/Rectangle_11@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!--Desktop-->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/desktop/Rectangle_11.jpg    1x,
              ./img/desktop/Rectangle_11@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="cover-img"
            src="./img/desktop/Rectangle_11@2x.jpg"
            alt="Manage Your inances Masterfully"
            width="282"
            height="162"
          />
        </picture>
        <!-- Picture 12-->
        <picture class="cover-picture">
          <!-- Mobile-->
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/desktop/Rectangle_12.jpg    1x,
              ./img/desktop/Rectangle_12@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!--Tablet-->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/desktop/Rectangle_12.jpg    1x,
              ./img/desktop/Rectangle_12@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!--Desktop-->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/desktop/Rectangle_12.jpg    1x,
              ./img/desktop/Rectangle_12@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="cover-img"
            src="./img/desktop/Rectangle_12@2x.jpg"
            alt="Discover the joy of learning English with us"
            width="282"
            height="162"
          />
        </picture>
      </li>

      <!-- String 2 -->
      <li class="cover-line">
        <!-- Picture 12-->
        <picture class="cover-picture">
          <!-- Mobile-->
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/desktop/Rectangle_12.jpg    1x,
              ./img/desktop/Rectangle_12@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!--Tablet-->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/desktop/Rectangle_12.jpg    1x,
              ./img/desktop/Rectangle_12@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!--Desktop-->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/desktop/Rectangle_12.jpg    1x,
              ./img/desktop/Rectangle_12@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="cover-img"
            src="./img/desktop/Rectangle_12@2x.jpg"
            alt="Discover the joy of learning English with us"
            width="282"
            height="162"
          />
        </picture>
        <!-- Picture 7-->
        <picture class="cover-picture">
          <!-- Mobile-->
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/desktop/Rectangle_7.jpg    1x,
              ./img/desktop/Rectangle_7@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!--Tablet-->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/desktop/Rectangle_7.jpg    1x,
              ./img/desktop/Rectangle_7@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!--Desktop-->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/desktop/Rectangle_7.jpg    1x,
              ./img/desktop/Rectangle_7@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="cover-img"
            src="./img/desktop/Rectangle_7@2x.jpg"
            alt="Mimino"
            width="282"
            height="162"
          />
        </picture>

        <!-- Picture 4-->
        <picture class="cover-picture">
          <!-- Mobile-->
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/desktop/Rectangle_4.jpg    1x,
              ./img/desktop/Rectangle_4@2x.jpg 2x
            "
            type="image/jpg"
          />

          <!--Tablet-->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/desktop/Rectangle_4.jpg    1x,
              ./img/desktop/Rectangle_4@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!--Desktop-->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/desktop/Rectangle_4.jpg    1x,
              ./img/desktop/Rectangle_4@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="cover-img"
            src="./img/desktop/Rectangle_4@2x.jpg"
            alt="Get body in shape"
            width="282"
            height="162"
          />
        </picture>
        <!-- Picture 11-->
        <picture class="cover-picture">
          <!-- Mobile-->
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/desktop/Rectangle_11.jpg    1x,
              ./img/desktop/Rectangle_11@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!--Tablet-->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/desktop/Rectangle_11.jpg    1x,
              ./img/desktop/Rectangle_11@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!--Desktop-->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/desktop/Rectangle_11.jpg    1x,
              ./img/desktop/Rectangle_11@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="cover-img"
            src="./img/desktop/Rectangle_11@2x.jpg"
            alt="Manage Your inances Masterfully"
            width="282"
            height="162"
          />
        </picture>
        <!-- Picture 5-->
        <picture class="cover-picture">
          <!-- Mobile-->
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/desktop/Rectangle_5.jpg    1x,
              ./img/desktop/Rectangle_5@2x.jpg 2x
            "
            type="image/jpg"
          />

          <!--Tablet-->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/desktop/Rectangle_5.jpg    1x,
              ./img/desktop/Rectangle_5@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- Desktop-->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/desktop/Rectangle_5.jpg    1x,
              ./img/desktop/Rectangle_5@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="cover-img"
            src="./img/desktop/Rectangle_5@2x.jpg"
            alt="Fresh harvest box"
            width="282"
            height="162"
          />
        </picture>
        <!-- Picture 8-->
        <picture class="cover-picture">
          <!-- Mobile-->
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/desktop/Rectangle_8.jpg    1x,
              ./img/desktop/Rectangle_8@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!--Tablet-->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/desktop/Rectangle_8.jpg    1x,
              ./img/desktop/Rectangle_8@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!--Desktop-->
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/desktop/Rectangle_8.jpg    1x,
              ./img/desktop/Rectangle_8@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="cover-img"
            src="./img/desktop/Rectangle_8@2x.jpg"
            alt="Reviving the traditional Ukrainian artistry in every stitch"
            width="282"
            height="162"
          />
        </picture>
        <!-- Picture 10-->
        <picture class="cover-picture">
          <!-- Mobile-->
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/desktop/Rectangle_10.jpg    1x,
              ./img/desktop/Rectangle_10@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!--Tablet-->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/desktop/Rectangle_10.jpg    1x,
              ./img/desktop/Rectangle_10@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!--Desktop-->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/desktop/Rectangle_10.jpg    1x,
              ./img/desktop/Rectangle_10@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="cover-img"
            src="./img/desktop/Rectangle_10@2x.jpg"
            alt="Transforming your body shape with Power Pulse"
            width="282"
            height="162"
          />
        </picture>
        <!-- Picture 9-->
        <picture class="cover-picture">
          <!-- Mobile-->
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/desktop/Rectangle_9.jpg    1x,
              ./img/desktop/Rectangle_9@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!--Tablet-->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/desktop/Rectangle_9.jpg    1x,
              ./img/desktop/Rectangle_9@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!--Desktop-->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/desktop/Rectangle_9.jpg    1x,
              ./img/desktop/Rectangle_9@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="cover-img"
            src="./img/desktop/Rectangle_9@2x.jpg"
            alt="Organic vegetables to your diet today"
            width="282"
            height="162"
          />
        </picture>
        <!-- Picture 6-->
        <picture class="cover-picture">
          <!-- Mobile-->
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/desktop/Rectangle_6.jpg    1x,
              ./img/desktop/Rectangle_6@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!--Tablet-->
          <source
            media="(min-width: 767px)"
            srcset="
              ./img/desktop/Rectangle_6.jpg    1x,
              ./img/desktop/Rectangle_6@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!--Desktop-->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/desktop/Rectangle_6.jpg    1x,
              ./img/desktop/Rectangle_6@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="cover-img"
            src="./img/desktop/Rectangle_6@2x.jpg"
            alt="a brand that is inspired in forms"
            width="282"
            height="162"
          />
        </picture>
      </li>

      <!-- String 3 -->
      <li class="cover-line">
        <!-- Picture 8-->
        <picture class="cover-picture">
          <!-- Mobile-->
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/desktop/Rectangle_8.jpg    1x,
              ./img/desktop/Rectangle_8@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!--Tablet-->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/desktop/Rectangle_8.jpg    1x,
              ./img/desktop/Rectangle_8@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!--Desktop-->
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/desktop/Rectangle_8.jpg    1x,
              ./img/desktop/Rectangle_8@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="cover-img"
            src="./img/desktop/Rectangle_8@2x.jpg"
            alt="Reviving the traditional Ukrainian artistry in every stitch"
            width="282"
            height="162"
          />
        </picture>
        <!-- Picture 10-->
        <picture class="cover-picture">
          <!-- Mobile-->
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/desktop/Rectangle_10.jpg    1x,
              ./img/desktop/Rectangle_10@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!--Tablet-->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/desktop/Rectangle_10.jpg    1x,
              ./img/desktop/Rectangle_10@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!--Desktop-->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/desktop/Rectangle_10.jpg    1x,
              ./img/desktop/Rectangle_10@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="cover-img"
            src="./img/desktop/Rectangle_10@2x.jpg"
            alt="Transforming your body shape with Power Pulse"
            width="282"
            height="162"
          />
        </picture>

        <!-- Picture 12-->
        <picture class="cover-picture">
          <!-- Mobile-->
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/desktop/Rectangle_12.jpg    1x,
              ./img/desktop/Rectangle_12@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!--Tablet-->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/desktop/Rectangle_12.jpg    1x,
              ./img/desktop/Rectangle_12@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!--Desktop-->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/desktop/Rectangle_12.jpg    1x,
              ./img/desktop/Rectangle_12@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="cover-img"
            src="./img/desktop/Rectangle_12@2x.jpg"
            alt="Discover the joy of learning English with us"
            width="282"
            height="162"
          />
        </picture>
        <!-- Picture 7-->
        <picture class="cover-picture">
          <!-- Mobile-->
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/desktop/Rectangle_7.jpg    1x,
              ./img/desktop/Rectangle_7@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!--Tablet-->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/desktop/Rectangle_7.jpg    1x,
              ./img/desktop/Rectangle_7@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!--Desktop-->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/desktop/Rectangle_7.jpg    1x,
              ./img/desktop/Rectangle_7@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="cover-img"
            src="./img/desktop/Rectangle_7@2x.jpg"
            alt="Mimino"
            width="282"
            height="162"
          />
        </picture>

        <!-- Picture 6-->
        <picture class="cover-picture">
          <!-- Mobile-->
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/desktop/Rectangle_6.jpg    1x,
              ./img/desktop/Rectangle_6@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!--Tablet-->
          <source
            media="(min-width: 767px)"
            srcset="
              ./img/desktop/Rectangle_6.jpg    1x,
              ./img/desktop/Rectangle_6@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!--Desktop-->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/desktop/Rectangle_6.jpg    1x,
              ./img/desktop/Rectangle_6@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="cover-img"
            src="./img/desktop/Rectangle_6@2x.jpg"
            alt="a brand that is inspired in forms"
            width="282"
            height="162"
          />
        </picture>
        <!-- Picture 11-->
        <picture class="cover-picture">
          <!-- Mobile-->
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/desktop/Rectangle_11.jpg    1x,
              ./img/desktop/Rectangle_11@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!--Tablet-->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/desktop/Rectangle_11.jpg    1x,
              ./img/desktop/Rectangle_11@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!--Desktop-->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/desktop/Rectangle_11.jpg    1x,
              ./img/desktop/Rectangle_11@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="cover-img"
            src="./img/desktop/Rectangle_11@2x.jpg"
            alt="Manage Your inances Masterfully"
            width="282"
            height="162"
          />
        </picture>
        <!-- Picture 9-->
        <picture class="cover-picture">
          <!-- Mobile-->
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/desktop/Rectangle_9.jpg    1x,
              ./img/desktop/Rectangle_9@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!--Tablet-->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/desktop/Rectangle_9.jpg    1x,
              ./img/desktop/Rectangle_9@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!--Desktop-->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/desktop/Rectangle_9.jpg    1x,
              ./img/desktop/Rectangle_9@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="cover-img"
            src="./img/desktop/Rectangle_9@2x.jpg"
            alt="Organic vegetables to your diet today"
            width="282"
            height="162"
          />
        </picture>

        <!-- Picture 5-->
        <picture class="cover-picture">
          <!-- Mobile-->
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/desktop/Rectangle_5.jpg    1x,
              ./img/desktop/Rectangle_5@2x.jpg 2x
            "
            type="image/jpg"
          />

          <!--Tablet-->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/desktop/Rectangle_5.jpg    1x,
              ./img/desktop/Rectangle_5@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- Desktop-->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/desktop/Rectangle_5.jpg    1x,
              ./img/desktop/Rectangle_5@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="cover-img"
            src="./img/desktop/Rectangle_5@2x.jpg"
            alt="Fresh harvest box"
            width="282"
            height="162"
          />
        </picture>
        <!-- Picture 4-->
        <picture class="cover-picture">
          <!-- Mobile-->
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/desktop/Rectangle_4.jpg    1x,
              ./img/desktop/Rectangle_4@2x.jpg 2x
            "
            type="image/jpg"
          />

          <!--Tablet-->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/desktop/Rectangle_4.jpg    1x,
              ./img/desktop/Rectangle_4@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!--Desktop-->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/desktop/Rectangle_4.jpg    1x,
              ./img/desktop/Rectangle_4@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="cover-img"
            src="./img/desktop/Rectangle_4@2x.jpg"
            alt="Get body in shape"
            width="282"
            height="162"
          />
        </picture>
      </li>

      <!-- String 4 -->
      <li class="cover-line">
        <!-- Picture 9-->
        <picture class="cover-picture">
          <!-- Mobile-->
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/desktop/Rectangle_9.jpg    1x,
              ./img/desktop/Rectangle_9@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!--Tablet-->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/desktop/Rectangle_9.jpg    1x,
              ./img/desktop/Rectangle_9@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!--Desktop-->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/desktop/Rectangle_9.jpg    1x,
              ./img/desktop/Rectangle_9@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="cover-img"
            src="./img/desktop/Rectangle_9@2x.jpg"
            alt="Organic vegetables to your diet today"
            width="282"
            height="162"
          />
        </picture>
        <!-- Picture 8-->
        <picture class="cover-picture">
          <!-- Mobile-->
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/desktop/Rectangle_8.jpg    1x,
              ./img/desktop/Rectangle_8@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!--Tablet-->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/desktop/Rectangle_8.jpg    1x,
              ./img/desktop/Rectangle_8@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!--Desktop-->
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/desktop/Rectangle_8.jpg    1x,
              ./img/desktop/Rectangle_8@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="cover-img"
            src="./img/desktop/Rectangle_8@2x.jpg"
            alt="Reviving the traditional Ukrainian artistry in every stitch"
            width="282"
            height="162"
          />
        </picture>
        <!-- Picture 5-->
        <picture class="cover-picture">
          <!-- Mobile-->
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/desktop/Rectangle_5.jpg    1x,
              ./img/desktop/Rectangle_5@2x.jpg 2x
            "
            type="image/jpg"
          />

          <!--Tablet-->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/desktop/Rectangle_5.jpg    1x,
              ./img/desktop/Rectangle_5@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- Desktop-->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/desktop/Rectangle_5.jpg    1x,
              ./img/desktop/Rectangle_5@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="cover-img"
            src="./img/desktop/Rectangle_5@2x.jpg"
            alt="Fresh harvest box"
            width="282"
            height="162"
          />
        </picture>
        <!-- Picture 6-->
        <picture class="cover-picture">
          <!-- Mobile-->
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/desktop/Rectangle_6.jpg    1x,
              ./img/desktop/Rectangle_6@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!--Tablet-->
          <source
            media="(min-width: 767px)"
            srcset="
              ./img/desktop/Rectangle_6.jpg    1x,
              ./img/desktop/Rectangle_6@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!--Desktop-->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/desktop/Rectangle_6.jpg    1x,
              ./img/desktop/Rectangle_6@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="cover-img"
            src="./img/desktop/Rectangle_6@2x.jpg"
            alt="a brand that is inspired in forms"
            width="282"
            height="162"
          />
        </picture>
        <!-- Picture 12-->
        <picture class="cover-picture">
          <!-- Mobile-->
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/desktop/Rectangle_12.jpg    1x,
              ./img/desktop/Rectangle_12@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!--Tablet-->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/desktop/Rectangle_12.jpg    1x,
              ./img/desktop/Rectangle_12@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!--Desktop-->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/desktop/Rectangle_12.jpg    1x,
              ./img/desktop/Rectangle_12@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="cover-img"
            src="./img/desktop/Rectangle_12@2x.jpg"
            alt="Discover the joy of learning English with us"
            width="282"
            height="162"
          />
        </picture>
        <!-- Picture 4-->
        <picture class="cover-picture">
          <!-- Mobile-->
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/desktop/Rectangle_4.jpg    1x,
              ./img/desktop/Rectangle_4@2x.jpg 2x
            "
            type="image/jpg"
          />

          <!--Tablet-->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/desktop/Rectangle_4.jpg    1x,
              ./img/desktop/Rectangle_4@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!--Desktop-->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/desktop/Rectangle_4.jpg    1x,
              ./img/desktop/Rectangle_4@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="cover-img"
            src="./img/desktop/Rectangle_4@2x.jpg"
            alt="Get body in shape"
            width="282"
            height="162"
          />
        </picture>

        <!-- Picture 7-->
        <picture class="cover-picture">
          <!-- Mobile-->
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/desktop/Rectangle_7.jpg    1x,
              ./img/desktop/Rectangle_7@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!--Tablet-->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/desktop/Rectangle_7.jpg    1x,
              ./img/desktop/Rectangle_7@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!--Desktop-->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/desktop/Rectangle_7.jpg    1x,
              ./img/desktop/Rectangle_7@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="cover-img"
            src="./img/desktop/Rectangle_7@2x.jpg"
            alt="Mimino"
            width="282"
            height="162"
          />
        </picture>

        <!-- Picture 10-->
        <picture class="cover-picture">
          <!-- Mobile-->
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/desktop/Rectangle_10.jpg    1x,
              ./img/desktop/Rectangle_10@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!--Tablet-->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/desktop/Rectangle_10.jpg    1x,
              ./img/desktop/Rectangle_10@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!--Desktop-->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/desktop/Rectangle_10.jpg    1x,
              ./img/desktop/Rectangle_10@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="cover-img"
            src="./img/desktop/Rectangle_10@2x.jpg"
            alt="Transforming your body shape with Power Pulse"
            width="282"
            height="162"
          />
        </picture>
        <!-- Picture 11-->
        <picture class="cover-picture">
          <!-- Mobile-->
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/desktop/Rectangle_11.jpg    1x,
              ./img/desktop/Rectangle_11@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!--Tablet-->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/desktop/Rectangle_11.jpg    1x,
              ./img/desktop/Rectangle_11@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!--Desktop-->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/desktop/Rectangle_11.jpg    1x,
              ./img/desktop/Rectangle_11@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="cover-img"
            src="./img/desktop/Rectangle_11@2x.jpg"
            alt="Manage Your inances Masterfully"
            width="282"
            height="162"
          />
        </picture>
      </li>

      <!-- String 5 -->
      <li class="cover-line">
        <!-- Picture 10-->
        <picture class="cover-picture">
          <!-- Mobile-->
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/desktop/Rectangle_10.jpg    1x,
              ./img/desktop/Rectangle_10@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!--Tablet-->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/desktop/Rectangle_10.jpg    1x,
              ./img/desktop/Rectangle_10@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!--Desktop-->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/desktop/Rectangle_10.jpg    1x,
              ./img/desktop/Rectangle_10@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="cover-img"
            src="./img/desktop/Rectangle_10@2x.jpg"
            alt="Transforming your body shape with Power Pulse"
            width="282"
            height="162"
          />
        </picture>
        <!-- Picture 6-->
        <picture class="cover-picture">
          <!-- Mobile-->
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/desktop/Rectangle_6.jpg    1x,
              ./img/desktop/Rectangle_6@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!--Tablet-->
          <source
            media="(min-width: 767px)"
            srcset="
              ./img/desktop/Rectangle_6.jpg    1x,
              ./img/desktop/Rectangle_6@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!--Desktop-->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/desktop/Rectangle_6.jpg    1x,
              ./img/desktop/Rectangle_6@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="cover-img"
            src="./img/desktop/Rectangle_6@2x.jpg"
            alt="a brand that is inspired in forms"
            width="282"
            height="162"
          />
        </picture>
        <!-- Picture 4-->
        <picture class="cover-picture">
          <!-- Mobile-->
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/desktop/Rectangle_4.jpg    1x,
              ./img/desktop/Rectangle_4@2x.jpg 2x
            "
            type="image/jpg"
          />

          <!--Tablet-->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/desktop/Rectangle_4.jpg    1x,
              ./img/desktop/Rectangle_4@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!--Desktop-->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/desktop/Rectangle_4.jpg    1x,
              ./img/desktop/Rectangle_4@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="cover-img"
            src="./img/desktop/Rectangle_4@2x.jpg"
            alt="Get body in shape"
            width="282"
            height="162"
          />
        </picture>
        <!-- Picture 12-->
        <picture class="cover-picture">
          <!-- Mobile-->
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/desktop/Rectangle_12.jpg    1x,
              ./img/desktop/Rectangle_12@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!--Tablet-->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/desktop/Rectangle_12.jpg    1x,
              ./img/desktop/Rectangle_12@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!--Desktop-->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/desktop/Rectangle_12.jpg    1x,
              ./img/desktop/Rectangle_12@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="cover-img"
            src="./img/desktop/Rectangle_12@2x.jpg"
            alt="Discover the joy of learning English with us"
            width="282"
            height="162"
          />
        </picture>
        <!-- Picture 7-->
        <picture class="cover-picture">
          <!-- Mobile-->
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/desktop/Rectangle_7.jpg    1x,
              ./img/desktop/Rectangle_7@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!--Tablet-->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/desktop/Rectangle_7.jpg    1x,
              ./img/desktop/Rectangle_7@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!--Desktop-->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/desktop/Rectangle_7.jpg    1x,
              ./img/desktop/Rectangle_7@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="cover-img"
            src="./img/desktop/Rectangle_7@2x.jpg"
            alt="Mimino"
            width="282"
            height="162"
          />
        </picture>
        <!-- Picture 5-->
        <picture class="cover-picture">
          <!-- Mobile-->
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/desktop/Rectangle_5.jpg    1x,
              ./img/desktop/Rectangle_5@2x.jpg 2x
            "
            type="image/jpg"
          />

          <!--Tablet-->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/desktop/Rectangle_5.jpg    1x,
              ./img/desktop/Rectangle_5@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- Desktop-->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/desktop/Rectangle_5.jpg    1x,
              ./img/desktop/Rectangle_5@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="cover-img"
            src="./img/desktop/Rectangle_5@2x.jpg"
            alt="Fresh harvest box"
            width="282"
            height="162"
          />
        </picture>

        <!-- Picture 8-->
        <picture class="cover-picture">
          <!-- Mobile-->
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/desktop/Rectangle_8.jpg    1x,
              ./img/desktop/Rectangle_8@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!--Tablet-->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/desktop/Rectangle_8.jpg    1x,
              ./img/desktop/Rectangle_8@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!--Desktop-->
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/desktop/Rectangle_8.jpg    1x,
              ./img/desktop/Rectangle_8@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="cover-img"
            src="./img/desktop/Rectangle_8@2x.jpg"
            alt="Reviving the traditional Ukrainian artistry in every stitch"
            width="282"
            height="162"
          />
        </picture>

        <!-- Picture 11-->
        <picture class="cover-picture">
          <!-- Mobile-->
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/desktop/Rectangle_11.jpg    1x,
              ./img/desktop/Rectangle_11@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!--Tablet-->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/desktop/Rectangle_11.jpg    1x,
              ./img/desktop/Rectangle_11@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!--Desktop-->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/desktop/Rectangle_11.jpg    1x,
              ./img/desktop/Rectangle_11@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="cover-img"
            src="./img/desktop/Rectangle_11@2x.jpg"
            alt="Manage Your inances Masterfully"
            width="282"
            height="162"
          />
        </picture>
        <!-- Picture 9-->
        <picture class="cover-picture">
          <!-- Mobile-->
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/desktop/Rectangle_9.jpg    1x,
              ./img/desktop/Rectangle_9@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!--Tablet-->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/desktop/Rectangle_9.jpg    1x,
              ./img/desktop/Rectangle_9@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!--Desktop-->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/desktop/Rectangle_9.jpg    1x,
              ./img/desktop/Rectangle_9@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="cover-img"
            src="./img/desktop/Rectangle_9@2x.jpg"
            alt="Organic vegetables to your diet today"
            width="282"
            height="162"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
