<!-- by Tanja -->
<footer class="section">
  <div class="container">
    <div class="footer-title-wrapper">
      <img src="../img/mobile/footer_logo.png" alt="developer" />
      <h2 class="footer-title">
        LET’S <span class="footer-title-color">WORK</span>
      </h2>
    </div>
    <h2 class="footer-title">TOGETHER</h2>

    <form class="footer-form">
      <div class="footer-form-fields">
        <input
          type="email"
          name="user-email"
          class="footer-form-input"
          placeholder="clients@gmail.com"
          required
        />
        <textarea
          name="user-comment"
          class="footer-form-comments"
          placeholder="comments"
        ></textarea>
      </div>
      <button class="footer-form-btn">Send</button>
    </form>
    <ul class="footer-contacts">
      <li class="footer-contacts">
        <a class="footer-contacts-link" href="">lloydjefferson@gmail.com</a>
      </li>
      <li class="footer-contacts">
        <a class="footer-contacts-link" href="">+380 11 1111 11 11</a>
      </li>
    </ul>
  </div>
</footer>
