

<div class="header-mob-menu is-hidden" data-menu>
    <div class="header-mob-menu-container">
      <button type="button" class="header-menu-close-btn" data-menu-close>
        <svg class="header-svg-on-button" width="28" height="28">
          <use href="./img/svg/sprite.svg#icon-x"></use>
        </svg>
      </button>
    </div>
  
    <div class="header-mob-menu-content">
      <ul class="header-mob-menu-list list">
        <li class="header-mob-menu-list-item">
          <a class="header-mob-menu-link link" href="#about">About me</a>
        </li>
        <li class="header-mob-menu-list-item">
          <a class="header-mob-menu-link link" href="#benefits">Benefits</a>
        </li>
        <li class="header-mob-menu-list-item">
          <a class="header-mob-menu-link link" href="#projects">Projects</a>
        </li>
        <li class="header-mob-menu-list-item">
          <a class="header-mob-menu-link link" href="#faq">FAQ</a>
        </li>
      </ul>
    </div>
  
    <div class="header-mob-menu-order">
      <a class="header-mob-menu-order-link link" href="#work"
        >Order the project</a
      >
    </div>
  </div>