<!-- by Artem -->

<header class="header-section section">
  <div class="header-container container">
    <nav class="header-nav">
      <a class="header-nav-logotype" href="./index.html">
        <img
          class="header-nav-img"
          srcset="./img/desktop/header_logo_desktop@2x.png 2x"
          src="./img/desktop/header_logo_desktop.png"
          alt="Lloyd Jefferson small photo"
          width="80"
        />
        <div class="header-nav-container">
          <svg class="header-nav-svg" width="84" height="19">
            <use href="./img/svg/sprite.svg#icon-jefferson"></use>
          </svg>
        </div>
      </a>
      <div class="header-dropdown">
        <button class="header-dropbtn">Menu</button>
        <div class="header-dropdown-content">
          <ul class="header-dropdown-list list">
            <li class="header-dropdown-list-item">
              <a class="header-modal-nav-link link" href="#about">About me</a>
            </li>
            <li class="header-dropdown-list-item">
              <a class="header-modal-nav-link link" href="#benefits"
                >Benefits</a
              >
            </li>
            <li class="header-dropdown-list-item">
              <a class="header-modal-nav-link link" href="#projects"
                >Projects</a
              >
            </li>
            <li class="header-dropdown-list-item">
              <a class="header-modal-nav-link link" href="#faq">FAQ</a>
            </li>
          </ul>
        </div>
      </div>
      <a class="header-menu-link link" href="#work">Order the project</a>
      <button type="button" class="header-menu-open-btn" data-menu-open>
        <svg class="header-svg-on-button" width="28" height="28">
          <use href="./img/svg/sprite.svg#icon-burger"></use>
        </svg>
      </button>
    </nav>
    
    <div class="is-hidden" data-menu>
      <div class="header-mob-menu">
          <div class="header-mob-menu-container">
              <button type="button" class="header-menu-close-btn" data-menu-close>
              <svg class="header-svg-on-button" width="28" height="28">
                  <use href="./img/svg/sprite.svg#icon-x"></use>
              </svg>
              </button>
          </div>
          
          <div class="header-mob-menu-content">
              <ul class="header-mob-menu-list list">
              <li class="header-mob-menu-list-item">
                  <a class="header-mob-menu-link link" href="#about">About me</a>
              </li>
              <li class="header-mob-menu-list-item">
                  <a class="header-mob-menu-link link" href="#benefits">Benefits</a>
              </li>
              <li class="header-mob-menu-list-item">
                  <a class="header-mob-menu-link link" href="#projects">Projects</a>
              </li>
              <li class="header-mob-menu-list-item">
                  <a class="header-mob-menu-link link" href="#faq">FAQ</a>
              </li>
              </ul>
          </div>
          
          <div class="header-mob-menu-order">
              <a class="header-mob-menu-order-link link" href="#work"
              >Order the project</a
              >
          </div>
          </div>
      </div>
  </div>
  </div>
</header>