<!-- by Artem -->

 <!----======================HEADER===============================-->
 <header class="header-section section">
    <div class="header-container container">
      <nav class="header-nav">
        <a class="header-nav-logotype" href="./index.html">
          <img
            class="header-nav-img"
            srcset="./img/header-img/header-person-desktop@2x.png 2x"
            src="./img/header-img/header-person-desktop.png"
            alt="Lloyd Jefferson small photo"
            width="80"
          />
          <div class="header-nav-container">
            <svg class="header-nav-svg" width="84" height="19">
              <use href="./img/svg/icons.svg#icon-jefferson-1"></use>
              <use href="./img/header-img/header-name-defs.svg#icon-jefferson-1"></use>

            </svg>
          </div>
        </a>
  
        <div class="header-dropdown">
          <button class="header-dropbtn">Menu</button>
          <div class="header-dropdown-content">
            <ul class="header-dropdown-list list">
              <li class="header-dropdown-list-item">
                <a class="header-modal-nav-link link" href="#about">About me</a>
              </li>
              <li class="header-dropdown-list-item">
                <a class="header-modal-nav-link link" href="#benefits"
                  >Benefits</a
                >
              </li>
              <li class="header-dropdown-list-item">
                <a class="header-modal-nav-link link" href="#projects"
                  >Projects</a
                >
              </li>
              <li class="header-dropdown-list-item">
                <a class="header-modal-nav-link link" href="#faq">FAQ</a>
              </li>
            </ul>
          </div>
        </div>
        <a class="header-menu-link link" href="#work">Order the project</a>
  
        <button type="button" class="header-menu-open-btn" data-menu-open>
          <svg class="header-svg-on-button" width="28" height="28">
            <use href="./img/svg/icons.svg#icon-burger"></use>
          </svg>
        </button>
      </nav>

      
    </div>

     <!--===========================INFO=======================================-->

     <section class="hero">
        <div class="container">
          <h1 class="hero-title">
            Hello. <br />
            I’m Fullstack developer Lloyd Jefferson.
          </h1>
          <nav class="hero-navigation">
            <ul class="hero-list">
              <li class="hero-item">
                <a
                  class="hero-link"
                  href="https://www.instagram.com/goitclub/"
                  target="_blank"
                  >IG</a
                >
              </li>
              <li class="hero-item">
                <a
                  class="hero-link"
                  href="https://www.facebook.com/goITclub/"
                  target="_blank"
                  >FB</a
                >
              </li>
              <li class="hero-item">
                <a
                  class="hero-link"
                  href="https://www.youtube.com/c/GoIT"
                  target="_blank"
                  >YT</a
                >
              </li>
              <li class="hero-item">
                <a
                  class="hero-link"
                  href="https://github.com/YK9968/mom-i-and-it-js"
                  target="_blank"
                  >GH</a
                >
              </li>
              <li class="hero-item">
                <a
                  class="hero-link"
                  href="mailto:lloydjefferson@gmail.com"
                  target="_blank"
                  >lloydjefferson@gmail.com</a
                >
              </li>
            </ul>
          </nav>
        </div>
      </section>
  </header>