<!-- by Lesya -->
<section class="hero">
  <div class="container">
    <h1 class="hero-title">
      Hello.<br />I’m Fullstack<br />
      developer<br />
      Lloyd<br />
      Jefferson.
    </h1>

    <div class="hero-wrapper">
      <div class="social-wrapper">
        <ul class="hero-list">
          <li class="hero-list-item">
            <a
              class="hero-list-item-link"
              href="https://www.instagram.com/goitclub/"
            >
              <svg class="icon-svg" width="13" height="17">
                <use href="../img/svg/symbol-defs.svg#icon-IG"></use>
              </svg>
            </a>
          </li>
          <li class="hero-list-item">
            <a
              class="hero-list-item-link"
              href="https://www.facebook.com/goITclub/"
            >
              <svg class="icon-svg" width="13" height="17">
                <use href="../img/svg/symbol-defs.svg#icon-FB"></use>
              </svg>
            </a>
          </li>
          <li class="hero-list-item">
            <a class="hero-list-item-link" href="https://www.youtube.com/c/GoI">
              <svg class="icon-svg" width="13" height="17">
                <use href="../img/svg/symbol-defs.svg#icon-YT"></use>
              </svg>
            </a>
          </li>
          <li class="hero-list-item">
            <a
              class="hero-list-item-link"
              href="https://github.com/KlimovAnton/Team15-project"
            >
              <svg class="icon-svg" width="13" height="17">
                <use href="../img/svg/symbol-defs.svg#icon-GH"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <div class="hero-email-wrapper">
        <address class="hero-email">
          <a class="hero-email-item" href="mailto:lloydjefferson@gmail.com"
            >lloydjefferson@gmail.com</a
          >
        </address>
      </div>
    </div>
  </div>
</section>
