<!-- by Roman -->

<section class="projects-section" id="projects">
  <div class="container">
    <h2 class="project-title">PROJECTS</h2>
    <div class="project-container">
      <ul class="project-container-list swiper-wrapper">
        <li class="swiper-slide project-style check">
          <div class="project-slide-box">
            <div class="projects-box">
              <ul class="projects-box-list">
                <li class="projects-box-item">
                  <p>#react</p>
                </li>
                <li class="projects-box-item">
                  <p>#js</p>
                </li>
                <li class="projects-box-item">
                  <p>#node.js</p>
                </li>
                <li class="projects-box-item">
                  <p>#git</p>
                </li>
              </ul>
              <div class="projects-content">
                <p class="project-content-text">
                  Programming Across <br />
                  Border: Ideas, <br />
                  Technologies, Innovations
                </p>
                <a
                  class="projects-content-btn"
                  href="#"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  See project
                </a>
              </div>
            </div>
            <div class="projects-img">
              <picture>
                <source srcset="
                    ./img/desktop/project1.jpg 1x,
                    ./img/desktop/project1@2x.jpg  2x 
                    " media="(min-width: 1440px)">
                <source srcset="
                    ./img/tablet/project1.jpg 1x, 
                    ./img/tablet/project1@2x.jpg 2x
                    " media="(min-width: 768px)">
                <source srcset="
                    ./img/mobile/project1.jpg 1x, 
                    ./img/mobile/project1@2x.jpg 2x
                    " media="(min-width: 320px)">
                <img src="./img/mobile/project1.jpg"/>
              </picture>
            </div>
          </div>
        </li>

        <li class="swiper-slide project-style">
          <div class="project-slide-box">
            <div class="projects-box">
              <ul class="projects-box-list">
                <li class="projects-box-item">
                  <p>#react</p>
                </li>
                <li class="projects-box-item">
                  <p>#js</p>
                </li>
                <li class="projects-box-item">
                  <p>#node.js</p>
                </li>
                <li class="projects-box-item">
                  <p>#git</p>
                </li>
              </ul>
              <div class="projects-content">
                <p class="project-content-text">
                  Programming Across <br />
                  Border: Ideas, <br />
                  Technologies, Innovations
                </p>
                <a
                  class="projects-content-btn"
                  href="#"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  See project
                </a>
              </div>
            </div>
            <div class="projects-img">
              <picture>
                <source srcset="
                    ./img/desktop/project2.jpg 1x,
                    ./img/desktop/project2@2x.jpg  2x 
                    " media="(min-width: 1440px)">
                <source srcset="
                    ./img/tablet/project2.jpg 1x, 
                    ./img/tablet/project2@2x.jpg 2x
                    " media="(min-width: 768px)">
                <source srcset="
                    ./img/mobile/project2.jpg 1x, 
                    ./img/mobile/project2@2x.jpg 2x
                    " media="(min-width: 320px)">
                <img src="./img/mobile/project2.jpg"/>
              </picture>
            </div>
          </div>
        </li>

        <li class="swiper-slide project-style">
          <div class="project-slide-box">
            <div class="projects-box">
              <ul class="projects-box-list">
                <li class="projects-box-item">
                  <p>#react</p>
                </li>
                <li class="projects-box-item">
                  <p>#js</p>
                </li>
                <li class="projects-box-item">
                  <p>#node.js</p>
                </li>
                <li class="projects-box-item">
                  <p>#git</p>
                </li>
              </ul>
              <div class="projects-content">
                <p class="project-content-text">
                  Programming Across <br />
                  Border: Ideas, <br />
                  Technologies, Innovations
                </p>
                <a
                  class="projects-content-btn"
                  href="#"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  See project
                </a>
              </div>
            </div>
            <div class="projects-img">
              <picture>
                <source srcset="
                    ./img/desktop/project3.jpg 1x,
                    ./img/desktop/project3@2x.jpg  2x 
                    " media="(min-width: 1440px)">
                <source srcset="
                ./img/tablet/poject3.jpg 1x,
                    ./img/tablet/project3@2x.jpg 2x
                    " media="(min-width: 768px)">
                <source srcset="
                    ./img/mobile/project3.jpg 1x, 
                    ./img/mobile/project3@2x.jpg 2x
                    " media="(min-width: 320px)">
                <img src="./img/mobile/project3.jpg"/>
              </picture>
            </div>
          </div>
        </li>

      </ul>
      <ul class="slide-btn">
        <li>
          <button  
          class=" slide-prev slide-btn-disabled swiper-button-disabled"
          tabindex="0"
          aria-label="Previous slide"
          aria-controls="wrap"
          aria-disabled="false"
          >
            <svg class="icon-narrow" width="32" height="32">
              <use href="./img/svg/sprite.svg#icon-arrow-narrow-right"></use>
            </svg>
          </button>
        </li>
        <li>
          <button 
          class="slide-next slide-btn-disabled swiper-button-disabled" 
          tabindex="-1"
          aria-label="Next slide"
          aria-controls="wrap"
          aria-disabled="true"
          disabled="">
            <svg class="icon-narrow" width="32" height="32">
              <use href="./img/svg/sprite.svg#icon-arrow-narrow-right"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>