<!-- by Roman -->

<section class="projects-section" id="projects">
  <div class="container">
    <h2 class="project-title">PROJECTS</h2>
    <div class="project-container">
      <ul class="project-container-list">
        <li class="project-container-item">
          <div class="project-slide-box">
            <div class="projects-box">
              <ul class="projects-box-list">
                <li class="projects-box-item">
                  <p>#react</p>
                </li>
                <li class="projects-box-item">
                  <p>#js</p>
                </li>
                <li class="projects-box-item">
                  <p>#node.js</p>
                </li>
                <li class="projects-box-item">
                  <p>#git</p>
                </li>
              </ul>
              <div class="projects-content">
                <p class="project-content-text">
                  Programming Across <br />
                  Border: Ideas, <br />
                  Technologies, Innovations
                </p>
                <a
                  class="projects-content-btn"
                  href="#"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  See project
                </a>
              </div>
            </div>
            <div class="projects-img">
              <picture>
                <source srcset="
                    ./img/desktop/project1.jpg 1x,
                    ./img/desktop/project1@2x.jpg  2x 
                    " media="(min-width: 1440px)">
                <source srcset="
                    ./img/tablet/project1.jpg 1x, 
                    ./img/tablet/project1@2x.jpg 2x
                    " media="(min-width: 768px)">
                <source srcset="
                    ./img/mobile/project1.jpg 1x, 
                    ./img/mobile/project1@2x.jpg 2x
                    " media="(min-width: 320px)">
                <img src="./img/mobile/project1.jpg" alt="Project1" />
              </picture>
            </div>
          </div>
        </li>
        <!-- ІНФОРМАЦІЯ ДЛЯ РОМАНА! ДОБАВИТИ ЛІШКИ ТУТ! -->
        <!-- <li></li>
        <li></li> -->
      </ul>
      <ul class="slide-btn">
        <li>
          <button disabled class="slide-prev">
            <svg width="20" height="20">
              <use href="./img/svg/sprite.svg#icon-arrow-narrow-right"></use>
            </svg>
          </button>
        </li>
        <li>
          <button class="slide-next">
            <svg width="20" height="20">
              <use href="./img/svg/sprite.svg#icon-arrow-narrow-right"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>