<!-- by Roman -->

<section class="section">
    <h2 class="projects-title">PROJECTS</h2>
    <div class="conteiner">
        
        <ul class="projects-slide1">
            <ul class="projects-content">
                <li><button class="project-contentBtn"><a href="">#react</a></button></li>
                <li><button class="project-contentBtn"><a href="">#js</a></button></li>
                <li><button class="project-contentBtn"><a href="">#node js</a></button></li>
                <li><button class="project-contentBtn"><a href="">#git</a></button></li>
            </ul>
            <p class="project-text">Programming Across Borders: Ideas, Technologies, Innovations</p>
            <button class="project-seeBtn"><a href="">See project</a></button>
            <picture>
                <source>
                <source>
                <source>
                <img src="./img/mobile/project1.jpg" alt="project1">
            </picture>
        </ul>
        <ul class="projects-slide2">
            <ul class="projects-content">
                <li><button class="project-contentBtn"><a href="">#react</a></button></li>
                <li><button class="project-contentBtn"><a href="">#js</a></button></li>
                <li><button class="project-contentBtn"><a href="">#node js</a></button></li>
                <li><button class="project-contentBtn"><a href="">#git</a></button></li>
            </ul>
            <p class="project-text">Programming Across Borders: Ideas, Technologies, Innovations</p>
            <button class="project-seeBtn"><a href="">See project</a></button>
            <picture>
                <source>
                <source>
                <source>
                <img src="./img/mobile/project2.jpg" alt="project2">
            </picture>
        </ul>
        <ul class="projects-slide3">
            <ul class="projects-content">
                <li><button class="project-contentBtn"><a href="">#react</a></button></li>
                <li><button class="project-contentBtn"><a href="">#js</a></button></li>
                <li><button class="project-contentBtn"><a href="">#node js</a></button></li>
                <li><button class="project-contentBtn"><a href="">#git</a></button></li>
            </ul>
            <p class="project-text">Programming Across Borders: Ideas, Technologies, Innovations</p>
            <button class="project-seeBtn"><a href="">See project</a></button>
            <picture>
                <source>
                <source>
                <source>
                <img src="./img/mobile/project3.jpg" alt="project3">
            </picture>
        </ul>
          
    </div>
    <button>Slide Prev</button>
          <button>Slide Next</button>
</section>