<!-- by Lesya -->

<section class="reviews-section reviews">
  <div class="container">
    <h2 class="reviews-title">reviews</h2>

    <div class="swiper-container swiper">
      <ul class="swiper-wrapper" id="wrap"></ul>
    </div> 
    
  <div class="swiper-btn-wrap">
    <button
      class="swiper-btn swiper-btn-prev swiper-button-disabled"
      type="button"
      tabindex="0"
      aria-label="Previous slide"
      aria-controls="wrap"
      aria-disabled="false"
    >
      <svg class="icon-arrow" width="32" height="32">
        <use
          href="./img/svg/sprite.svg#icon-arrow-narrow-right"
        ></use>
      </svg>
    </button>

    <button
      class="swiper-btn swiper-btn-next swiper-button-disabled"
      type="button"
      tabindex="-1"
      aria-label="Next slide"
      aria-controls="wrap"
      aria-disabled="true"
      disabled=""
    >
      <svg class="icon-arrow" width="32" height="32">
        <use 
        href="./img/svg/sprite.svg#icon-arrow-narrow-right"
        ></use>
      </svg>
    </button>
    <script type="module" src="./js/reviews.js"></script>

  </div>
  </div>
</section>
