<!-- by Lesya -->

<section class="reviews-section">
  <div class="container">
    <h2 class="reviews-title">reviews</h2>

    <div class="swiper-container">
      <div class="swiper-wrapper">

      </div>
    </div>
    <div class="swiper-btn-wrap">
    <div class="swiper-button-prev">
              <button class="prev">
          <svg width="32" height="32" class="icon-arrow">
            <use href="./img/svg/sprite.svg#icon-arrow-narrow-right"></use>
          </svg>
        </button>
    </div>

    <div class="swiper-button-next">
      <button class="next">
        <svg width="32" height="32" class="icon-arrow">
          <use href="./img/svg/sprite.svg#icon-arrow-narrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</div>

  <script type="module" src="../js/reviews.js"></script>

  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>


    
</section>