.benefits-headline {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5em;
  letter-spacing: 0.125em;
  margin-bottom: 32px;
  color: rgba(250, 250, 250, 0.4);
}

.benefits-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-bottom: 32px;
}

.benefits-item {
  display: block;
  max-width: 344px;
  border-radius: 20px;
  background-color: rgb(36, 37, 39);
  padding: 24px;
}

.icon-benefits {
  margin-bottom: 64px;
  padding: 12px;
  border-radius: 10px;
  background-color: rgb(237, 59, 68);
}

.benefits-title {
  display: flex;
  font-family: InterTightBold;
  font-size: 20px;
  font-weight: 600px;
  line-height: 1.5em;
  letter-spacing: -0.02em;
  margin-bottom: 8px;
}

.benefits-txt {
  display: flex;
  font-size: 16px;
  font-weight: 500px;
  line-height: 1.5em;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
}

.benefits-btn {
  font-size: 16px;
  font-weight: 500px;
  line-height: 1.19em;
  padding: 18px 36px;
  border-radius: 60px;
  outline: none;
  border: 1px solid rgba(250, 250, 250, 0.2);
  background-color: transparent;
  color: white;
}

.benefits-btn:hover {
  border-color: #ffffff;
  transition: 550ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Tablet adaptive */
@media screen and (min-width: 768px) {
  .benefits-list {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Desctop adaptive */
@media screen and (min-width: 1440px) {
  .benefits-container {
    display: flex;
    justify-content: space-between;
  }
  .benefits-item {
    max-width: 332px;
  }
}
