:root {
    color: #fafafa;
    font-size: 16px;
    font-family: InterTightMedium, InterTightBold;
    font-weight: 500;
    --background: #1c1d20;
    --cards: #242527;
    --arrow: #3b3b3b;
    --button-color: #ed3b44;
    --button-hover: #e0373f;
    --main-text: #fafafa;
    --minor-text: rgba(250, 250, 250, 0.6);
  }

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: InterTightMedium, sans-serif;
  background-color: var(--background);
}

.is-hidden {
    display: none;
  }

.disabled {
    border: 1px solid rgba(250, 250, 250, 0.2);
    stroke: #3b3b3b;
}

.no-scroll {
  overflow: hidden;
}


/* @media screen and (min-width: 320px) {
    .container {
      margin-left: auto;
      margin-right: auto;
    }
  }
  @media screen and (max-width: 767px) {
    .section {
      padding-top: 32px;
      padding-bottom: 32px;
    }
  
    .container {
      padding-left: 16px;
      padding-right: 16px;
    }
  }
  
  @media screen and (min-width: 375px) and (max-width: 767px) {
    .container {
      max-width: 375px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    .section {
      padding-top: 48px;
      padding-bottom: 48px;
    }
  
    .container {
      padding-left: 32px;
      padding-right: 32px;
      max-width: 768px;
    }
  }
  
  @media screen and (min-width: 1280px) {
    .section {
      padding-top: 82px;
      padding-bottom: 82px;
    }
  
    .container {
      padding-left: 32px;
      padding-right: 32px;
      max-width: 1280px;
    }
  } */

  .container {
    width: 100%;
    min-width: 320px;
    max-width: 375px;
    padding: 0 16px;
    margin: 0 auto;
  }

  .section {
      padding-top: 32px;
      padding-bottom: 32px;
  }
  
  @media screen and (min-width: 768px) {
    .container {
      max-width: 768px;
      padding: 0 32px;
    }
    
    .section {
      padding-top: 48px;
      padding-bottom: 48px;
    }
  }
  
  @media screen and (min-width: 1440px) {
    .container {
      max-width: 1440px;
    }

    .section {
      padding-top: 82px;
      padding-bottom: 82px;
    }
  }