.faq-section {
  background-color: #1c1d20;
}
.faq-header {
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
  text-transform: uppercase;
  font-family: InterTightBold;
}

.faq-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
ul,
p {
  padding: 0;
  padding-inline-start: 0px;
}
li {
  list-style-type: none;
}
.faq-item {
  padding: 20px 0px;
  /* display: flex;
  flex-direction: column; */
  gap: 16px;
  border-top: solid 1px rgba(250, 250, 250, 0.2);
  position: relative;
  flex-shrink: 0;
  width: 100%;
  transition: border-bottom 0.3s ease-in-out;
}
.faq-item-text {
  display: none;
}

.faq-item-text.show {
  display: block;
}
.faq-item.open {
  border-bottom: solid 1px rgba(250, 250, 250, 0.2); /* Adjust border style */
}
.faq-item-question {
  font-family: InterTightBold;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  width: 265px;
}
.faq-item-text {
  font-weight: 500;
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
  /* padding-top: 10px; */
}
.arrow {
  stroke: #fafafa;
  padding: 10px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;
  position: absolute;
  top: 20px;
  right: 0;
  width: 40px;
  height: 40px;
}

.arr-btn {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 20px;
  right: 0;
}

.arrow.rotate {
  transform: rotate(180deg);
}
.arrow-icon {
  width: 7.5px;
  height: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1440px) {
  .faq-item {
    padding: 32px 0px 24px 0px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-top: solid 1px rgba(250, 250, 250, 0.2);
    flex-shrink: 0;
  }

  .faq-item-question {
    color: #fafafa;
    width: 574px;
  }

  .faq-item-text {
    flex-shrink: 0;
  }
  .arrow {
    top: 32px;
    right: 0;
  }
}

@media screen and (min-width: 1440px) {
  .faq-item {
    border-top: solid 1px rgba(250, 250, 250, 0.2);
    width: 50%;
  }

  .faq-item-question {
    padding-bottom: 30px;
    width: 574px;
  }
  .faq-item-text {
    width: 656px;
  }

  .faq-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .faq-list li:nth-child(1),
  .faq-list li:nth-child(2) {
    max-height: 213px;
  }
  .faq-list li:nth-child(3),
  .faq-list li:nth-child(4) {
    max-height: 211px;
  }
  .faq-list li:nth-child(5),
  .faq-list li:nth-child(6) {
    max-height: 241px;
  }

  .faq-list li:nth-child(6) .faq-item-question {
    width: 485px;
  }

  .faq-list li:nth-child(6) .faq-item-text {
    padding-top: 20px;
  }
  .faq-list li:nth-child(1),
  .faq-list li:nth-child(3),
  .faq-list li:nth-child(5) {
    border-right: solid 1px rgba(250, 250, 250, 0.2);
  }

  .faq-list li:nth-child(2),
  .faq-list li:nth-child(4),
  .faq-list li:nth-child(6) {
    padding-left: 32px;
  }
  .faq-list li:nth-child(6) .faq-item-question {
    padding-bottom: 3px;
  }
  .arrow {
    top: 32px;
    right: 32px;
  }
}
