.faq-section {
  background-color: #1c1d20;
}
.faq-header {
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
  text-transform: uppercase;
}

.faq-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
ul,
p {
  padding: 0;
  padding-inline-start: 0px;
}
li {
  list-style-type: none;
}
.faq-item {
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-top: solid 1px rgba(250, 250, 250, 0.2);
  position: relative;
  flex-shrink: 0;
  width: 375px;
}
.faq-item-text {
  display: none;
}

.faq-item-text.show {
  display: block;
}

.faq-item-question {
  width: 265px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.faq-item-text {
  font-weight: 500;
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
}

/* check this */
.faq-container,
.faq-header {
  max-width: 343px;
  padding: 0;
}
/* //check this */

.arrow {
  stroke: #fafafa;
  padding: 10px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;
  position: absolute;
  top: 20px;
  right: 0;

  width: 40px;
  height: 40px;
}
.arrow-icon {
  width: 7.5px;
  height: 10px;
}
.arrow.rotate {
  transform: rotate(180deg);
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .faq-item {
    padding: 32px 0px 24px 0px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-top: solid 1px rgba(250, 250, 250, 0.2);
    flex-shrink: 0;
    width: 704px;
  }

  /****** to check the container width *******/
  .faq-container,
  .faq-header {
    max-width: 704px;
    padding: 0;
  }
  /****** //to check the container width ******/
  .faq-item-question {
    width: 574px;
    color: #fafafa;
  }

  .faq-item-text {
    height: 96px;
    width: 656px;
    flex-shrink: 0;
  }
  .arrow {
    top: 32px;
    right: 0;
  }
}

@media screen and (min-width: 1440px) {
  .faq-item {
    padding: 32px 0px 0px 0px;
    border-top: solid 1px rgba(250, 250, 250, 0.2);
    width: 688px;
  }

  .faq-item-question {
    width: 574px;
    padding-bottom: 30px;
  }
  .faq-item-text {
    height: 72px;
    width: 656px;
  }

  /******  to check next time, is container width 100%?*******/
  .faq-container,
  .faq-header {
    max-width: 1376px;
    padding: 0;
  }
  /****** //to check next time, is container width 100%? ******/
  .faq-list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .faq-list li:nth-child(1),
  .faq-list li:nth-child(2) {
    max-height: 213px;
  }
  .faq-list li:nth-child(3),
  .faq-list li:nth-child(4) {
    max-height: 211px;
  }

  .faq-list li:nth-child(5),
  .faq-list li:nth-child(6) {
    max-height: 241px;
  }

  .faq-list li:nth-child(1),
  .faq-list li:nth-child(3),
  .faq-list li:nth-child(5) {
    border-right: solid 1px rgba(250, 250, 250, 0.2);
  }

  .faq-list li:nth-child(2),
  .faq-list li:nth-child(4),
  .faq-list li:nth-child(6) {
    padding-left: 32px;
    border-left: solid 1px rgba(250, 250, 250, 0.2);
  }
  .arrow {
    top: 32px;
    right: 32px;
  }
}
