.footer-section {
  padding-top: 32px;
}

@media screen and (min-width: 768px) {
  .footer-section {
    padding-top: 80px;
  }
}

@media screen and (min-width: 1440px) {
  .footer-container {
    padding-left: 196px;
    padding-right: 196px;
  }
   } 

.footer-title-wrapper {
  position: relative;
  margin-bottom: 64px;
}

.footer-img {
  position: absolute;
  width: 44px; 
}

@media screen and (min-width: 768px) {
  .footer-img {
    width: 70px;
  }
}

.footer-title {
  text-indent: 52px;
  font-size: 40px;
}

@media screen and (min-width: 768px) {
  .footer-title {
    text-indent: 90px;
    font-size: 64px;
  }
}

.footer-title-color {
  color: #ed3b44;
}

.footer-form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 64px;
}

@media screen and (min-width: 768px) {
  .footer-form {
    display: flex;
    flex-direction: row;
    margin-bottom: 78px;
  }
}

@media screen and (min-width: 1440px) {
  .footer-form {
    display: flex;
    flex-direction: row;
    gap: 86px;
    margin-bottom: 64px;
  }
}

.footer-form-fields {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media screen and (min-width: 768px) {
  .footer-form-fields {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }
}

.footer-form-input[aria-invalid="true"] {
  border-bottom: 1px solid #E74A3B;
}

.footer-form-input[aria-valid="true"] {
  border-bottom: 1px solid #3CBC81;
}

.succes {
  color:#3CBC81;
}

.error {
  color: #E74A3B;
}

.footer-form-input,
.footer-form-comments {
  font: inherit;
  color: #fafafa;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgb(250, 250, 250, 0.6);
  outline: transparent;
  height: 44px;
  width: 343px;
  padding-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .footer-form-input,
  .footer-form-comments {
    width: 245px;
  }
}

@media screen and (min-width: 1440px) {
  .footer-form-input,
  .footer-form-comments {
    width: 390px;
  }
}

.footer-form-input::placeholder {
  color: rgb(250, 250, 250, 0.6);
}

.footer-form-comments::placeholder {
  color: rgb(250, 250, 250, 0.6);
}

.footer-form-comments {
  resize: none;
}

.footer-form-btn {
  height: 100px;
  width: 100px;
  border: none;
  border-radius: 50%;
  background: #ed3b44;
  color: #fafafa;
}

.footer-form-btn:hover {
  background: #e0373f;
}

@media screen and (max-width: 375px) {
  .footer-contacts {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}

@media screen and (min-width: 375px) {
  .footer-contacts {
    display: flex;
    flex-direction: row;
    gap: 4px;
  }
}

@media screen and (min-width: 768px) {
  .footer-contacts {
    gap: 8px;
  }
}

.footer-contacts {
  height: 37px;
}

@media screen and (min-width: 768px) {
  .footer-contacts {
    height: 55px;
  }
}

.footer-contacts-link {
  font-size: 14px;
  padding: 10px 12px;
  height: 100%;
  width: 100%;
  border: 1px solid rgb(250, 250, 250, 0.2);
  border-radius: 60px;
}


@media screen and (min-width: 768px) {
  .footer-contacts-link {
    font-size: 16px;
    padding: 18px 32px;
    height: 100%;
    width: 100%;
    border: 1px solid rgb(250, 250, 250, 0.2);
    border-radius: 60px;
  }
}

.footer-contacts-link:hover {
  border: 1px solid rgba(250, 250, 250, 1);
}

/* --Modal-- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(15, 15, 16, 0.6);
  backdrop-filter: 1px;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.footer-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: #1C1D20;
  width: 343px;
  padding: 64px 32px;

  border: 1px solid rgba(250, 250, 250, 0.1);
  border-radius: 20px;
}

@media screen and (min-width: 768px) {
  .footer-modal {
    width: 492px;
    padding: 64px;
  }
}

.modal-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;

  position: absolute;
  top: 20px;
  right: 20px;

  width: 22px;
  height: 22px;

  background-color: transparent;
  border: none;
}

.modal-close-icon {
  fill:#FAFAFA;
}


.modal-title {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .modal-title {
    font-size: 19px;
  }
}

.modal-text {
  color: rgb(250, 250, 250, 0.6);
  text-align: center;
}

