.header-section {
    padding-top: 32px;
     padding-bottom: 32px;
     position: absolute;
     z-index: 100;
     top: 0;
     left: 0;
     width: 100%;
     background-color: transparent;
   }
   .header-nav {
     display: flex;
     justify-content: space-between;
   }
   .header-nav-img {
     margin-right: 8px;
   }
   .header-nav-logotype {
     display: flex;
     justify-content: space-between;
   }
   .header-dropdown,
   .header-menu-link {
     display: none;
   }
   .header-menu-open-btn {
     display: flex;
     border: none;
     background-color: transparent;
     line-height: 0;
     padding: 0;
     width: 28px;
     height: 28px;
   }
   .header-menu-open-btn .header-svg-on-button {
     fill: var(--main-text);
   }
   .header-mob-menu {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     z-index: 2;
     background-color: transparent;
     padding: 20px;
     flex-direction: column;
     justify-content: space-between;
   }
   .header-menu-close-btn {
     border: none;
     background-color: transparent;
     line-height: 0;
     width: 28px;
     height: 28px;
   }
   @media screen and (min-width: 768px) {
     .header-dropdown {
       position: relative;
       display: inline-block;
       text-align: center;
     }
     .header-dropbtn {
       display: flex;
       background-color: transparent;
       text-decoration: underline;
       color: var(--main-text);
       padding: 10px;
       font-size: 16px;
       font-weight: 500;
       letter-spacing: -0.02em;
       border: none;
     }
     .header-dropbtn:hover,
     .header-dropbtn:focus {
       color: var(--button-hover);
       text-decoration: underline;
       text-decoration-color: var(--button-hover);
       transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
     }
     .header-dropdown-content {
       display: none;
       position: absolute;
       background-color: transparent;
       width: 67px;
       height: 91px;
       z-index: 1;
     }
     .header-dropdown-list {
       width: 67px;
       height: 91px;
       color: var(--main-text);
       padding: 0;
       text-decoration: none;
       display: block;
     }
     .header-dropdown-list-item:not(:last-child) {
       margin-bottom: 5px;
     }
     .header-modal-nav-link {
       font-size: 16px;
       font-weight: 500;
       letter-spacing: -0.02em;
       transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
     }
     .header-modal-nav-link:hover,
     .header-modal-nav-link:focus {
       color: var(--button-hover);
       text-decoration: underline;
       text-decoration-color: var(--button-hover);
       transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
     }
     .header-dropdown:hover .header-dropdown-content {
       display: block;
     }
     .header-menu-link {
       display: block;
       width: 163px;
       height: 55px;
       padding: 18px 24px;
       border: none;
       border-radius: 100px;
       font-size: 16px;
       font-weight: 500;
       letter-spacing: -0.02em;
       color: var(--main-text);
       background-color: var(--button-color);
       cursor: pointer;
       transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
     }
     .header-menu-open-btn {
       display: none;
     }
     .header-menu-close-btn {
       display: none;
     }
   }
   .header-menu-link:focus,
   .header-menu-link:hover {
     background-color: #E0373F;
     /* color: var(--primary-bg-color); */
 }