/* by Artem */

.header-mob-menu {
  padding: 32px 16px 64px 16px;
  background-color: var(--background);
  background-image: url('../img/mobile/hero_bg_mobile.png');
  background-size: cover;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
  visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;     
  flex-direction: column;     
  justify-content: space-between
}

.header-menu-close-btn {
  display: flex;
  padding: 0;
  margin-left: auto;
  justify-content: center;
  align-items: center;
}

.header-menu-close-btn .header-svg-on-button {
  fill: var(--main-text);
}

.header-mob-menu-content {
  display: flex;
  position: absolute;
  top: 37.5%;
  left: 50%;
  margin-left: -33.5px;
}

.header-mob-menu-list {
  text-align: center;
  color: var(--main-text);
  text-decoration: underline;
  text-decoration-color: var(--main-text);
}

.header-mob-menu-link:hover,
.header-mob-menu-link:focus {
  color: var(--button-hover);
  text-decoration-color: var(--button-hover);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-mob-menu-list-item:not(:last-child) {
  margin-bottom: 12px;
}

.header-mob-menu-link {
  color: var(--main-text);
  text-decoration: underline;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.02em;
}

.header-mob-menu-order-link {
  display: block;
  margin: 0 auto;
  width: fit-content;
  padding: 14px 31.5px;
  border: none;
  border-radius: 100px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.02em;
  color: var(--main-text);
  background-color: var(--button-color);
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;

  
  position: fixed;
  bottom: 64px; 
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.header-mob-menu-order {
  vertical-align: bottom;
}

.header-mob-menu-order-link {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 164px;
  height: 45px;
  padding: 14px 31.5px;
  border: none;
  border-radius: 100px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.02em;
  color: var(--main-text);
  background-color: var(--button-color);
  cursor: pointer;
}

.header-mob-menu-order-link {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.header-mob-menu-order-link:hover,
.header-mob-menu-order-link:focus {
  background-color: var(--button-hover);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-resolution: 192dpi) and (min-width: 320px),
  screen and (min-resolution: 2dppx) and (min-width: 320px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 320px) {
  .header-mob-menu {
    background-image: url(../img/mobile/hero_bg_mobile@2x.png);
  }
}

@media screen and (min-width: 768px) {
  .header-mob-menu {
    display: none;
  }
}