/* HERO PORTFOLIO */

/* MOBILE */

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px),
  screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
  .hero {
    background-image: url(../img/mobile/hero_bg_mobile@2x.png);
  }
}

@media screen and (max-width: 768px) {
  .hero-title-desktop {
    display: none;
  }
}

a {
  font-style: normal;
}

.hero {
  padding-top: 32px;
  padding-bottom: 32px;
  background-image: url(../img/mobile/hero_bg_mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  font-family: InterTightMedium;
  font-weight: 500;
  font-size: 50px;
  line-height: 100%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fafafa;
  margin-bottom: 212px;
  margin-top: 169px;
}

.hero-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4px;
}

.hero-list-item-link {
  width: 37px;
  height: 37px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 10px 12px;
  display: flex;
}

.hero-email-item {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
}

.social-wrapper {
  display: flex;
  flex-direction: row;
}

.hero-email-wrapper {
  display: flex;
}

.hero-email {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 10px 12px;
  width: 178px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4px;
}

.hero-wrapper {
  display: flex;
  flex-direction: row;
}

.icon-svg {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fafafa;
}

/* TABLET */

@media screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
  .hero {
    background-image: url(../img/tablet/hero_bg_tablet@2x.png);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: url(../img/tablet/hero_bg_tablet.png);
  }

  .hero-title-desktop {
    display: none;
  }

  .hero-title {
    font-weight: 500;
    font-size: 90px;
    line-height: 100%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin-bottom: 187px;
    margin-top: 188px;
  }

  .hero-list {
    gap: 8px;
  }

  .hero-list-item-link {
    padding: 18px 20px;
    width: 55px;
    height: 55px;
  }

  .hero-list-item-link:hover,
  .hero-list-item-link:focus,
  .hero-list-item-link:active {
    border-color: #fafafa;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .icon-svg {
    width: 15px;
    height: 19px;
    font-weight: 500;
    font-size: 16px;
  }

  .hero-email {
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 60px;
    padding: 18px 24px;
    width: 223px;
    height: 55px;
    margin-left: 8px;
  }

  .hero-email-item {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
  }

  .hero-wrapper {
    display: flex;
    justify-content: end;
  }

  .hero-email:hover,
  .hero-email:focus,
  .hero-email:active {
    border-color: #fafafa;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

/* DESKTOP 1440 */

@media screen and (min-resolution: 192dpi) and (min-width: 1440px),
  screen and (min-resolution: 2dppx) and (min-width: 1440px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 1440px) {
  .hero {
    background-image: url(../img/desktop/header_bg_desktop@2x.png);
  }
}

@media screen and (min-width: 1440px) {
  .hero {
    background-image: url(../img/desktop/header_bg_desktop.png);
  }

  .hero-title {
    display: none;
  }

  .hero-title-desktop {
    display: flex;
    justify-content: center;
    font-family: InterTightMedium;
    font-weight: 500;
    font-size: 90px;
    line-height: 100%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #fafafa;
    margin-bottom: 212px;
    margin-top: 169px;
    margin-bottom: 243px;
  }


  .hero-wrapper {
    display: flex;
    justify-content: end;
  }
}
