.projects-title{}





.project-contentBtn{
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    letter-spacing: 0.64px;
    color: #1C1D20;
    border-radius: 60px;
    background: #ffffff;
    border: 1px;
    border-color: #1C1D2033;
    padding: 13px, 18px, 13px, 18px;
    cursor: pointer;
    gap: 10px;}

 .project-seeBtn{
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    width:  141px;
    height: 45px;
    top: 340px;
    left: 32px;
    padding: 13 32 13 32;
    gap: 10px;
    border-radius: 60px; 
    color: #FAFAFA;
    background: #ED3B44;
    }