/* MOBILE */
.reviews-section {
  padding-top: 32px;
  padding-bottom: 32px;
 }

.reviews-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
  margin-top: 32px;
  margin-bottom: 32px;
  text-transform: uppercase;
}

.swiper-slide {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 20px;
  padding: 32px 24px;
  /* width: 343px; */
  
} 
  
#wrap{
  height: 330px;
  width: 343px;
}

.swiper-wrapper {
  display: flex;
  flex-direction: row;
  height: 400px;
}

.review-avatar {
  top: 0;
   margin-bottom: 32px;
}

.review-text {
  line-height: 150%;
  letter-spacing: -0.02em;
}

.review-author {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.02em;
  margin-bottom: 8px;
}

.swiper-btn-wrap {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 32px;
}

.swiper-btn-prev,
.swiper-btn-next {
  border: 1px solid rgba(250, 250, 250, 0.5);
  border-radius: 50%;
  width: 52px;
  height: 52px;
  /* background-color: transparent; */
  background-color: #1c1d20;
  position: relative;
  stroke: #fafafa;
 
}

.swiper-button-disabled {
  border: 1px solid rgba(250, 250, 250, 0.2);
  stroke: #fafafa33;
  color: #fafafa33;
}

.swiper-btn-prev .icon-arrow {
  transform: scaleX(-1);
}

.swiper-button-disabled .icon-arrow {
  stroke: #fafafa33;
}





/* TABLET */
@media screen and (min-width: 768px) and (max-width: 1440px) {
  /* .swiper-btn-prev,
  .swiper-btn-next:hover,
  .swiper-btn-prev,
  .swiper-btn-next:focus{
    border-color: #fafafa;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  } */

  .swiper-btn-wrap {
    display: flex;
    justify-content: center;
    gap: 20px;
    /* margin-top: 32px; */
  }
  .swiper-btn-prev,
  .swiper-btn-next {
    width: 68px;
    height: 68px;
  }
}

/* DESKTOP */

@media screen and (min-width: 1440px) {
  .reviews-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

/* Згортання тексту */

details {
  display: inline;
}

details {
  position: relative;
}

details summary {
  display: block;
  cursor: pointer;
  color: #ecd979;
}

details summary:focus {
  outline: none;
}

details[open] {
  display: block;
  padding-bottom: 25px;
  padding-top: 10px;
  animation: open 0.2s linear;
}

details[open] summary {
  position: absolute;
  bottom: 0;
  left: 0;
}

details #open {
  padding-left: 5px;
  text-align: middle;
}

details #open:after {
  display: inline-block;
  position: relative;
  top: -3px;
  padding-left: 8px;
  content: '\00bb';
  transform: rotate(90deg);
}

details[open] #open {
  display: none;
}

details #close {
  display: none;
}

details[open] #close {
  display: block;
}

::-webkit-details-marker {
  display: none;
}

@keyframes open {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
