@import url('./common.css');
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./about.css');
@import url('./benefits.css');
@import url('./projects.css');
@import url('./faq.css');
@import url('./cover.css');
@import url('./review.css');
@import url('./footer.css');
@import url('./header-modal.css');
@import url('./footer-modal.css');
@import url('./maxins.css');

@font-face {
  font-family: InterTightMedium;
  src: url(../fonts/InterTight-Medium.ttf);
}

@font-face {
  font-family: InterTightBold;
  src: url(../fonts/InterTight-SemiBold.ttf);
}